.body_backgorund {
  background-image: url("https://th.bing.com/th/id/OIP.1vjMBv8e1fqDmjiyfnjzEgHaE6?w=250&h=180&c=7&o=5&dpr=1.05&pid=1.7");
  background-position: center;
  background-size: cover;
}
body{
  cursor: pointer;
}
h1
{
    color: rgb(255, 0, 157); 
    font-size: 40px;
}
#myCanvas
{
    border-width:10px;
    background-color: rgb(187, 236, 255); 
    border-style:ridge;
}

button {
  background-color: #af4c4c;
  border: none;
  color: rgb(252, 235, 235);
  padding: 10px 42px;
  font-size: 16px;
}

input
{
  margin-right: 20px;
}
